/* Import Tailwind & Flowbite */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "@fortawesome/fontawesome-free/css/all.css";

/* Plugins */
@plugin "@tailwindcss/forms";
@plugin "flowbite/plugin";

/* Source files yang perlu discan Tailwind */
@source "./resources/**/*.blade.php";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../node_modules/flowbite";


/* Custom Theme */
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* Compatibility border style (Tailwind v4) */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
