@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@theme {
            --color-primary: #00a7f5;
            --color-secondary: #e22afa;
            --font-baloo: 'Baloo Bhaijaan 2', cursive;
            --font-jersey: 'Jersey 25', cursive;
            --font-inter: 'Inter', sans-serif;
            --animation-kiri: geserkiri 0.5s ease-in-out;
        }
        .button-prev-disabled {
            @apply opacity-50 cursor-not-allowed;
        }
        /* 1/3 */
        .step-1-of-3 > div:nth-of-type(1) > div:nth-of-type(1) {
            @apply w-0;
        }
        .step-1-of-3 > div:nth-of-type(2) > div:nth-of-type(1) {
            @apply w-0;
        }
        .step-1-of-3 > svg:nth-of-type(1) {
            @apply opacity-100 fill-blue-500;
        }
        .step-1-of-3 > svg:nth-of-type(2) {
            @apply opacity-10;
        }
        .step-1-of-3 > svg:nth-of-type(3) {
            @apply opacity-10;
        }
        /* 2/3 */
        .step-2-of-3 > div:nth-of-type(1) > div:nth-of-type(1) {
            @apply w-full;
        }
        .step-2-of-3 > div:nth-of-type(2) > div:nth-of-type(1) {
            @apply w-0;
        }
        .step-2-of-3 > svg:nth-of-type(1) {
            @apply opacity-100 fill-blue-500;
        }
        .step-2-of-3 > svg:nth-of-type(2) {
            @apply opacity-100 fill-blue-500;
        }
        .step-2-of-3 > svg:nth-of-type(3) {
            @apply opacity-10;
        }
        /* 3/3 */
        .step-3-of-3 > div:nth-of-type(1) > div:nth-of-type(1) {
            @apply w-full;
        }
        .step-3-of-3 > div:nth-of-type(2) > div:nth-of-type(1) {
            @apply w-full;
        }
        .step-3-of-3 > svg:nth-of-type(1) {
            @apply opacity-100 fill-blue-500;
        }
        .step-3-of-3 > svg:nth-of-type(2) {
            @apply opacity-100 fill-blue-500;
        }
        .step-3-of-3 > svg:nth-of-type(3) {
            @apply opacity-100 fill-blue-500;
        }
        .step-form {
  display: none;
}
.step-form.active {
  display: grid;
}

.input-form label {
    @apply block mb-2 font-bold font-baloo text-primary;
}
.input-form input:not([type="radio"]), .input-form select, .input-form textarea {
    @apply border border-gray-300 shadow p-3 w-full rounded outline-0;
}
.input-form.radio div label span {
    @apply text-black peer-checked:text-primary;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table {
    @apply w-full border-collapse ;
}
table, th, td {
    @apply border border-gray-300;
}
td, th {
    @apply p-3;
}
.num {
    @apply text-center p-1;
}
tr:hover {
    @apply bg-gray-100;
}
@keyframes geserkiri {
  0% {
    transform: translateX(0); /* ← tambahkan satuan */
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}

@keyframes geserkanan {
  0% {
    transform: translateX(0); /* ← tambahkan satuan */
    opacity: 0;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 1;
  }
}

@keyframes geseratas {
  0% {
    transform: translateY(0); /* ← tambahkan satuan */
    opacity: 0;
  }
  100% {
    transform: translateY(16.25rem);
    opacity: 1;
  }
}

@keyframes geserbawah {
  0% {
    transform: translateY(0); /* ← tambahkan satuan */
    opacity: 0;
  }
  100% {
    transform: translateY(-4.5rem);
    opacity: 1;
  }
}
.animate-kiri {
  animation: geserkiri 700ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.animate-kanan {
  animation: geserkanan 700ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.animate-atas {
  animation: geseratas 700ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}
.animate-bawah {
  animation: geserbawah 700ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

.reverse > .animate-kiri , .reverse > .animate-kanan {
    animation-direction: reverse;

}